

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    padding: 1em;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #b9b9b9;
    background-color: #e3e3e3;
}

select {
    display: inline-block;
    width: 50%;
    text-align: center;
    border-radius: 10px;
    height: 3.5em;
}

select:focus,
select:active {
    outline: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em;
    width: 100%;
    background-color:cornflowerblue;
    border-radius: 5px;
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 1);
}


